/*======================================================================

                      STYLES FOR MODULES USED

========================================================================*/

@import "variables";
@import "layout";

.navigation {
  
  width: 100%;
  border-radius: 0;
  vertical-align: middle;
  display: inline-block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  
  nav {
    min-height: 50px;
  }
  
  .navbar-brand {
    
    padding: 5px;
    
    .nav-logo {
      float: right;
      border: 0;
    }
  }
  
  .nav-light {
    background-color: @light-color;
    
    .navbar-link {
      color: @primary-text-color;
    }
  }
  
  .nav-dark {
    background-color: @primary-color;
    
    .navbar-link {
      color: @light-color;
    }
  }
  
  .nav-fixed {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
  }
  
  .navbar-list {
    list-style-type: none;
    position: relative;
    margin: 0;
    padding: 0;
    
    .navbar-item {
      display: inline-block;
      *display: inline;
      zoom: 1;
      vertical-align: middle;
      position: relative;
      margin: 0;
      padding: 0;
      height: 100%;
      
      .navbar-link {
        display: block;
        position: relative;
        padding: 10px 15px;
        text-decoration: none;
        cursor: pointer;
        margin-top: 2px;
      }
    }
  }
  
  .nav-right {
    
    .navbar {
      float: right;
    }
    
    .navbar-brand {
      float: left;
    }
  }
  
  .nav-left {
    
    .navbar {
      float: left;
    }
    
    .navbar-brand {
      float: right;
    }
  }
}

.banner {
  height: 100vh;
  background: @banner-background;
  background-repeat: no-repeat;
  vertical-align: middle;
  text-transform: uppercase;
}

.banner-fullscreen {
  .container, .container-fluid {
    height: 100%;
  }
}

.title-section {
  
  width: 50%;
  padding: 50px 0;
  vertical-align: middle;
  margin: 50px 0;
  
  h1, h2, h3, h4, h5, h6 {
    // text-transform: uppercase;
  }
}

.box, .box-content, .box-header, .box-body {
  min-width: 100% !important;
}

.box {
  
  overflow: hidden;
  
  .box-content {
    
    height: 100%;
    
    .box-header {
    
      margin: 0;
      padding: 10px 15px;
    
      h1, h2, h3, h4, h5, h6 {
        margin: 0;
      }
    }
    
    .box-body {
      float: left;
      padding: 0 15px;
      text-align: justify;
    }
  }
  
  .box-body {
    min-width: 100%;
  }
  
  .box-image {
    max-width: 100%;
    height: auto;
    display: block;
  }
    
  .box-feature {
    img {
      width: 100%;
      height: auto;
    }
  }
    
  .feat-top {
    width: 100%;
    
    img {
      width: 100%;
      /* possible properties for max height */
    }
  }
    
  .feat-right {
    width: 40%;
    float: right;
  }
    
  .feat-left {
    width: 40%;
    float: left;
  }
    
  .cont-right {
    float: right;
    width: 60%;
  }
    
  .cont-left {
    float: left;
    width: 60%;
  }
  
  .cont-middle {
    text-align: center;
    
    .box-body {
      text-align: center;
    }
  }
    
  .box-form {
    
  }
  
  .box-btn {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 2px;
  }
    
  .btn-primary, a.btn-primary {
    color: @primary-color;
    background-color: @light-color;
    border: 1px solid @primary-color;
  }
    
  .btn-secondary, a.btn-secondary {
    color: @accent-color;
    background-color: @light-color;
    border: 1px solid @accent-color;
  }
    
  .btn-transparent-light {
    color: @light-color;
    background: none;
    border: 1px solid @light-color;
  }
      
  .btn-transparent-dark {
    color: @accent-color;
    background: none;
    border: 1px solid @accent-color;
  }

  
  .fa {
    font-size: 150px;
  }
}

.text-center {
  text-align: center;
  
  &:before {
    content: " ";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.text-left {
  text-align: left;
}

.centered {
  display: inline-block;
  vertical-align: middle;
}

.light {
  color: @light-color;
}



/*======================================================================

                      RESPONSIVE MODULE PROPERTIES

========================================================================*/

@media screen and (min-width: 320px) {
  
  .feat-top-xs {
    width: 100%;
    
    img {
      width: 100%;
      /* possible properties for max height */
    }
  }
    
  .feat-right-xs {
    width: 40%;
    float: right;
  }
    
  .feat-left-xs {
    width: 40%;
    float: left;
  }
    
  .cont-right-xs {
    float: right;
    width: 60%;
  }
    
  .cont-left-xs {
    float: left;
    width: 60%;
  }
  
  .cont-middle-xs {
    width: 100%;
    text-align: center;
    
    .box-body {
      text-align: center;
    }
  }
  
  .text-center-xs {
    text-align: center;
  }
  
  .text-left-xs {
    text-align: left;
  }
}

@media screen and (min-width: 480px) {
  
  .feat-top-sm {
    width: 100%;
    
    img {
      width: 100%;
      /* possible properties for max height */
    }
  }
    
  .feat-right-sm {
    width: 40%;
    float: right;
  }
    
  .feat-left-sm {
    width: 40%;
    float: left;
  }
    
  .cont-right-sm {
    float: right;
    width: 60%;
  }
    
  .cont-left-sm {
    float: left;
    width: 60%;
  }
  
  .cont-middle-sm {
    width: 100%;
    text-align: center;
    
    .box-body {
      text-align: center;
    }
  }
  
  .text-center-sm {
    text-align: center;
  }
  
  .text-left-sm {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  
  .feat-top-md {
    width: 100%;
    
    img {
      width: 100%;
      /* possible properties for max height */
    }
  }
    
  .feat-right-md {
    width: 40%;
    float: right;
  }
    
  .feat-left-md {
    width: 40%;
    float: left;
  }
    
  .cont-right-md {
    float: right;
    width: 60%;
  }
    
  .cont-left-md {
    float: left;
    width: 60%;
  }
  
  .cont-middle-md {
    width: 100%;
    text-align: center;
    
    .box-body {
      text-align: center;
    }
  }
  
  .text-center-md {
    text-align: center;
  }
  
  .text-left-md {
    text-align: left;
  }
  
}

@media screen and (min-width: 1100px) {
  
  .feat-top-lg {
    width: 100%;
    
    img {
      width: 100%;
      /* possible properties for max height */
    }
  }
    
  .feat-right-lg {
    width: 40%;
    float: right;
  }
    
  .feat-left-lg {
    width: 40%;
    float: left;
  }
    
  .cont-right-lg {
    float: right;
    width: 60%;
  }
    
  .cont-left-lg {
    float: left;
    width: 60%;
  }
  
  .cont-middle-lg {
    width: 100%;
    text-align: center;
    
    .box-body {
      text-align: center;
    }
  }
  
  .text-center-lg {
    text-align: center;
  }
  
  .text-left-lg {
    text-align: left;
  }
}